<!DOCTYPE html>
<html>
<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel='stylesheet', href='/css/bootstrap.min.css'>
		<link href="https://fonts.googleapis.com/css?family=Tenor+Sans|Oswald|Raleway|Slabo+27px&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
		<script src="/js/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="/css/style.css">

</head>
<body>

		<div class="row">
				<div class= "col-sm-5">

					</div>
					<div class= "col-sm-2 center purple font">
							CSC 648 Team 10
							</div>
							<div class= "col-sm-4">
									</div>
			</div>

	<nav class="  purple ">
		<div class="row">
			<div class="col-md-3">
			<a id="brandName" class="navbar-brand" href="/">Gator Trader</a>
			</div>


				<div class="col-md-1 navbar-nav shift-down">
					<li >
					  <a id="navItem" class="nav-link" href="about">About</a>
					</li>
				</div>

				<div class="col-md-1 right shiftCategory">
					
						<form action="/" method="post">
						  <select name="searchEntry" onchange="this.form.submit()">
							<option value ="">Categories</option>
							<% for(var i=0; i < categories.length; i++) {%>
							<option value ="<%=categories[i]%>"><%=categories[i]%></option>
							<% } %>
						  </select>
						</form>
					</div>
					<div class="col-md-5 shift-down">
						<form action="/" method="post">
						  <input type="text" name="searchEntry" placeholder="Search for Products..." size="50">
						  <input class="btn btn-outline-warning" type="submit" value="Search">
						</form>
					  </div>

					  <div class="col-md-2 shift-down">
								<input class="btn btn-outline-warning" type="submit" value="Login /Sign Up">
							  </form>
							</div>				
				</div>
			</nav>

			<div class="row">
				<div class= "col-sm-12 padding-huge ">								
					</div>											
				</div>
				
			<div class="row">
					<div class= "col-sm-3">
						</div>
						<div class= "col-sm-6 center font purple">
								Gator Trader specializes in the distribution of products by SFSU students. We offer a wide range of services, from buying and selling items, to tutoring lessons based on subject.
								</div>
								<div class= "col-sm-3">
									</div>
								
				</div>

				<div class="row">
						<div class="col-md-3">
								<% for(var i=0; searchResult[i]; i=i+4) { %><br>
									<img id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
									<h2 id="itemName"><%=searchResult[i].name %></h2>
									<h3 id="itemPrice">$ <%=searchResult[i].price%><br></h4>
									<h3 class="itemDes" id="itemDescription"><%=searchResult[i].description%></h4><br>
									<hr>
								<% } %>
		
							</div> 
							
				<div class="col-md-3">
						<% for(var i=1; searchResult[i]; i=i+4) { %><br>
							<img id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
							<h2 id="itemName"><%=searchResult[i].name %></h2>
							<h3 id="itemPrice">$ <%=searchResult[i].price%><br></h4>
							<h3 class="itemDes" id="itemDescription"><%=searchResult[i].description%></h4><br>
							<hr>
						<% } %>

					</div> 

					<div class="col-md-3">
							<% for(var i=2; searchResult[i]; i=i+4) { %><br>
								<img id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
								<h2 id="itemName"><%=searchResult[i].name %></h2>
								<h3 id="itemPrice">$ <%=searchResult[i].price%><br></h4>
								<h3 class="itemDes" id="itemDescription"><%=searchResult[i].description%></h4><br>
								<hr>
							<% } %>
	
						</div> 

						<div class="col-md-3">
								<% for(var i=3; searchResult[i]; i=i+4) { %><br>
									<img id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
									<h2 id="itemName"><%=searchResult[i].name %></h2>
									<h3 id="itemPrice">$ <%=searchResult[i].price%><br></h4>
									<h3 class= "itemDes" id="itemDescription"><%=searchResult[i].description%></h4><br>
									<hr>
								<% } %>
		
							</div> 
					</div>

</body>
</html>
