<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Gator Trader</title>
  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  <script src="/js/jquery.min.js"></script>

</head>

<body>

  <div class="classSectionHeader">
    <p>CSC 648 Team 10</p>

  </div>

  <div class="modal fade " id="demoModal">
    <div class="modal-dialog ">
        <div class="modal-content modal-container">
            <div class="modal-header loginProperties">
                <b>LOG IN</b>
                <button type="button"class="close white" data-dismiss="modal">
                    <span>&times;</span>
                </button>
            </div>
            <div class="modal-body loginProperties">
                Email
                    <form action="/" method="post"> 
                        <input type="text" name="searchEntry" placeholder="" size="40">
                      </form>
                      Password
                      <form action="/" method="post">
                          <input type="text" name="searchEntry" placeholder="" size="40">
                        </form>
                    <u>Forgot Password / Email</u>
                      
            </div>
            <div class="modal-footer loginProperties">
                <button type="button " class="btn btn-light" data-dismiss="modal">Login</button>
                </div>
                <div class="modal-header">
                        <b>REGISTER</b>
                    </div>
                    <div class="modal-body">
                            First Name
                                <form action="/" method="post"> 
                                    <input type="text" name="searchEntry" placeholder="" size="10">
                                  </form>
                                  Last Name
                                  <form action="/" method="post">
                                      <input type="text" name="searchEntry" placeholder="" size="40">
                                    </form>
                                    SFSU Email
                                    <form action="/" method="post">
                                        <input type="text" name="searchEntry" placeholder="" size="40">
                                      </form>
                                      Password
                                      <form action="/" method="post">
                                          <input type="text" name="searchEntry" placeholder="" size="40">
                                        </form>
                                        Confirm Password
                                        <form action="/" method="post">
                                            <input type="text" name="searchEntry" placeholder="" size="40">
                                          </form>
                                I agree to the <u>Terms and Conditions</u>
                    </div>
                    <div class="modal-footer">
                        <button type="button " class="btn btn-dark" data-dismiss="modal">Register</button>
                        </div>
            </div>
        </div>
    </div>


<!-- NavBar using bootstrap -->
<section id="Navbar">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" href="/"><span class="GatorTraderLogo">Gator Trader</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <div class="LoginButton">
      
      <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#demoModal">Login/ Register</button>     
    </div>

<div class="navbar-nav mx-auto">

    <li class="nav-item dropdown">
      <form class="dropDown" action="/" method="post">
            <select class="btn btn-secondary dropDown" onchange="this.form.submit()">
            <option value=""></option>
            <% for(var i=0; i < categories.length; i++) {%>
            <option value ="<%=categories[i]%>"><%=categories[i]%></option>
            <% } %>
            </select>
          </form>
    </li>

    <form class= "form-inline Searchwindow" action="/" method="post">
      <input class="form-group col-lg-8" type="text" placeholder="Search for products..." name="searchEntry">
      <input class="btn searchButton" type="submit" value="Search">
    </form>
  </div>

    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="btn btn-outline-warning btn-lg SellButton"  href="#">SELL<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a id="navItem" class="nav-link btn-outline-success btn-lg aboutButton"  href="about">ABOUT</a>
      </li>

    </ul>

  </div>
</nav>
</section>

<!--Container of result listings -->
<div class="itemContainer container-fluid">

<div class="card-deck" style="width: 400px;">

<div class="row">


    <div class="card1 text-center">
      <% for(var i=0; searchResult[i]; i=i+4) { %><br>
      <h2 class="card-header" id="itemName"><%=searchResult[i].name %></h2>
      <img class="card-img-top" id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
        <div class="card-body">
          <h3 class="card-title" id="itemPrice"><strong>$ <%=searchResult[i].price%></strong><br></h4>
          <p class="card-text itemDes" id="itemDescription"><%=searchResult[i].description%></p><br>
            <a href="#" class="btn btn-warning">Contact Seller</a>
          <hr>
          <% } %>
        </div>
    </div>

  <div class="card2">
    <% for(var i=1; searchResult[i]; i=i+4) { %><br>
    <h2 class="card-header" id="itemName"><%=searchResult[i].name %></h2>
    <img class="card-img-top" id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
      <div class="card-body">
        <h3 class="card-title" id="itemPrice"><strong>$ <%=searchResult[i].price%></strong><br></h4>
        <p class="card-text itemDes" id="itemDescription"><%=searchResult[i].description%></p><br>
          <a href="#" class="btn btn-warning">Contact Seller</a>
        <hr>
        <% } %>
      </div>
  </div>


  <div class="card3">
    <% for(var i=2; searchResult[i]; i=i+4) { %><br>
    <h2 class="card-header" id="itemName"><%=searchResult[i].name %></h2>
    <img class="card-img-top" id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
    <div class="card-body">
      <h3 class="card-title" id="itemPrice"><strong>$ <%=searchResult[i].price%></strong><br></h4>
      <p class="card-text itemDes" id="itemDescription"><%=searchResult[i].description%></p><br>
      <a href="#" class="btn btn-warning">Contact Seller</a>
      <hr>
      <% } %>
    </div>
  </div>


  <div class="card4">
    <% for(var i=3; searchResult[i]; i=i+4) { %><br>
    <h2 class="card-header" id="itemName"><%=searchResult[i].name %></h2>
    <img class="card-img-top" id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
      <div class="card-body">
        <h3 class="card-title" id="itemPrice"><strong>$ <%=searchResult[i].price%></strong><br></h4>
        <p class= "card-text itemDes" id="itemDescription"><%=searchResult[i].description%></p><br>
          <a href="#" class="btn btn-warning">Contact Seller</a>
        <hr>
        <% } %>
      </div>
  </div>

</div>
</div>

</div>


<div class="contentOnPage">
  <h3 class="Introduction"><span class="GatorTrader">Gator Trader</span>
    specializes in the distribution of products by SFSU students, for SFSU students.
    We offer a wide range of services, from buying and selling items, to tutoring lessons based on subject.
  </h3>




<!--Carousel  of Recent Items -->

  <div class="CarouselContainer">
  </div>
</div>






</body>

</html>
