<!DOCTYPE html>
<html lang="en" dir="ltr">

<!--Imports header from assets -->
<% include assets/head.html %>

<!--Imports modal for items details-->
<% include modals/itemDetailsModal.html %>


<!-- <script type="text/javascript" src=".\scripts\modalData.js"></script> -->

<body>

<!--Imports navbar from assets -->
<% include assets/navbar %>


<!--Container of result listings -->
<div class="itemContainer container-fluid">


  <div class="row">
    <div class="col-md-3 text-center  ">
            <% for(var i=0; searchResult[i]; i=i+4) { %><br>
              <div class="card border-dark">
                <img class="card-image ml-auto mr-auto container" id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
                <h2 id="itemName"><%=searchResult[i].name %></h2>
                <h3 id="itemPrice">$ <%=searchResult[i].price%><br></h3>
                
                  <a data-target="#itemDetails" class="openModal btn btn-warning" href=""  data-toggle="modal" data-description="<%=searchResult[i].description%>" data-img="<%=searchResult[i].picture%>" data-name="<%= searchResult[i].name %>" data-price="$<%=searchResult[i].price%>" data-itemid="<%=searchResult[i].itemID%>">Details</a>
                </div>
            <% } %>

        </div>

<div class="col-md-3 text-center">
    <% for(var i=1; searchResult[i]; i=i+4) { %><br>
      <div class="card border-dark">
          <img class="card-image ml-auto mr-auto container"id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
          <h2 id="itemName"><%=searchResult[i].name %></h2>
          <h3 id="itemPrice">$ <%=searchResult[i].price%><br></h3>

            <a data-target="#itemDetails" class="openModal btn btn-warning" href=""  data-toggle="modal" data-description="<%=searchResult[i].description%>" data-img="<%=searchResult[i].picture%>" data-name="<%= searchResult[i].name %>" data-price="$<%=searchResult[i].price%>" data-itemid="<%=searchResult[i].itemID%>">Details</a>
          </div>
    <% } %>

</div>

<div class="col-md-3 text-center">
        <% for(var i=2; searchResult[i]; i=i+4) { %><br>
          <div class="card border-dark">
              <img class="card-image ml-auto mr-auto container"id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
              <h2 id="itemName"><%=searchResult[i].name %></h2>
              <h3 id="itemPrice">$ <%=searchResult[i].price%><br></h3>
                <a data-target="#itemDetails" class="openModal btn btn-warning" href=""  data-toggle="modal" data-description="<%=searchResult[i].description%>" data-img="<%=searchResult[i].picture%>" data-name="<%= searchResult[i].name %>" data-price="$<%=searchResult[i].price%>" data-itemid="<%=searchResult[i].itemID%>">Details</a>
              </div>
        <% } %>

    </div>

    <div class="col-md-3 text-center">
            <% for(var i=3; searchResult[i]; i=i+4) { %><br>
              <div class="card border-dark">
                  <img class="card-image ml-auto mr-auto container"id=<%="searchResult[i].name"%> src="/post_images/<%=searchResult[i].picture%>"/>
                  <h2 id="itemName"><%=searchResult[i].name %></h2>
                  <h3 id="itemPrice">$ <%=searchResult[i].price%><br></h3>
                    <a data-target="#itemDetails" class="openModal btn btn-warning" href=""  data-toggle="modal" data-description="<%=searchResult[i].description%>" data-img="<%=searchResult[i].picture%>" data-name="<%= searchResult[i].name %>" data-price="$<%=searchResult[i].price%>" data-itemid="<%=searchResult[i].itemId%>">Details</a>
                  </div>  
            <% } %>

        </div>
</div>
</div>
</body>
</html>

<script>
//This function send the image source to item display modal
$(document).on("click", ".openModal", function () {
    var itemImageSrc ="/post_images/"+ $(this).data('img');
    console.log(itemImageSrc);
    $(".modal-body #modalImage").attr("src", itemImageSrc);

    var itemid= $(this).data('itemid')
    console.log("This is what click function recieves "+ itemid)

    $(".modal-footer #modal-itemid").attr("value", itemid);
    // $(".modal-footer #modal-userid").attr("value", userid);
});

// data-* attributes to scan when populating modal values
const ATTRIBUTES = ['name', 'price','description'];

$('[data-toggle="modal"]').on('click', function (e) {
    // convert target (e.g. the button) to jquery object
    const $target = $(e.target);
    console.log($target);
    console.log('Target');
    // modal targeted by the button
    const modalSelector = $target.data('target');
    // iterate over each possible data-* attribute
    ATTRIBUTES.forEach(function (attributeName) {
    // retrieve the dom element corresponding to current attribute
    const $modalAttribute = $(modalSelector + ' #modal-' + attributeName);
    console.log($modalAttribute)
    const dataValue = $target.data(attributeName);
    console.log(dataValue)
    // if the attribute value is empty, $target.data() will return undefined.
    $modalAttribute.text(dataValue || '');
    });
});

</script>


