<div class="classSectionHeader">
  <p>CSC 648 Team 10</p>

</div>

<div class="modal fade " id="demoModal">
  <div class="modal-dialog ">
    <div class="modal-content modal-container">
      <div class="modal-header loginProperties">
        <b>LOG IN</b>
        <button type="button" class="close white" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body loginProperties">
        <form action="/users/login" method="POST">
          <div class="form-group">
            <label for="email">Email</label>
            <input
                    type="email"
                    id="email"
                    name="email"
                    class="form-control"
                    placeholder="Enter Email"
            />
          </div>
          <div class="form-group">
            <label for="password">Password</label>
            <input
                    type="password"
                    id="password"
                    name="password"
                    class="form-control"
                    placeholder="Enter Password"
            />
          </div>
          <button type="submit" class="btn btn-primary btn-block">Login</button>
        </form>
        <u>Forgot Password / Email</u>

      </div>

      <div class="modal-header">
        <b>REGISTER</b>
      </div>
      <form action="/users/register" method="POST">
        <div class="form-group">
          <label for="username">First name</label>
          <input
                  type="firstname"
                  id="firstname"
                  name="firstname"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof firstname != 'undefined' ? firstname : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="lastname">Last name</label>
          <input
                  type="lastname"
                  id="lastname"
                  name="lastname"
                  class="form-control"
                  placeholder="Enter Name"
                  value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input
                  type="email"
                  id="email"
                  name="email"
                  class="form-control"
                  placeholder="Enter Email"
                  value="<%= typeof email != 'undefined' ? email : '' %>"
          />
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input
                  type="password"
                  id="password"
                  name="password"
                  class="form-control"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"
          />
        </div>
        <div class="form-group">
          <label for="password2">Confirm Password</label>
          <input
                  type="password"
                  id="password2"
                  name="password2"
                  class="form-control"
                  placeholder="Confirm Password"
                  value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
          />
        </div>
        <<button type="submit" class="btn btn-primary btn-block">
          Register
        </button>
      </form>
      <p class="lead mt-4">Have An Account? <a href="/users/login">Login</a></p>
    </div>
  </div>
</div>


<!-- NavBar using bootstrap -->
<section id="Navbar">
  <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
    <a class="navbar-brand" href="/"><span class="GatorTraderLogo">Gator Trader</span></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">

      <div class="LoginButton">

        <button type="button" class="btn btn-outline-warning" data-toggle="modal" data-target="#demoModal">Login/ Register</button>
      </div>

      <div class="navbar-nav mx-auto">
        <form class="form-inline" action="/" method="post">
          <select class="col-sm-4 ml-auto no-gutters btn btn-dark btn-outline-success  dropDown" name="searchEntry" onchange="this.form.submit()">
            <option value=""></option>
            <% for(var i=0; i < categories.length; i++) {%>
            <option value="<%=categories[i]%>"><%=categories[i]%></option>
            <% } %>
          </select>
        </form>

        <form class="form-inline Searchwindow" action="/" method="post">
          <input class="form-control col-lg-8 " type="text" placeholder="Search for products..." name="searchEntry">
          <input class="btn btn-warning btn-outline-warning searchButton" type="submit" value="Search">
        </form>
      </div>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="btn btn-outline-warning btn-lg SellButton" href="/postingForm" *>SELL<span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a id="navItem" class="nav-link btn-outline-success btn-lg aboutButton" href="about">ABOUT</a>
        </li>

      </ul>

    </div>
  </nav>
</section>